<launch>
    <!-- video -->
    <arg name="res" default="1080" />
    <include file="$(find test_pipeline)/launch/video_file_$(arg res).launch" >
        <param name="res" value="$(arg res)" />
    </include>
    <!-- img_proc publishes img_rect -->
    <node name="image_proc" pkg="image_proc" type="image_proc" ns="camera" />
    <!-- detector -->
    <include file="$(find apriltag_ros)/launch/continuous_detection.launch" />
    <node pkg="test_pipeline" name="tf_subscriber" type="tf_subscriber.py" output="screen" />
</launch>
